/* FDFCF6 CCC9C2 40464F B3B9BE 232625 */


.Title1 {
  color: black;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  align-self: "center";
  text-align: center;
  font-size: 100px;
}
.Title2 {
  color: rgb(247, 0, 255);
  display: "flex";
  align-items: "center";
  text-align: center;
  justify-content: "center";
  padding: 5%;
  font-size: 30px;
}
.body{
    padding: 5%;
    font-size: 30px;
    background-color: #fbfbbc;
    width: 100vw;
    height: 100vh;
}

.form{
    padding-Left: 20%;
    padding-Right: 20%;
    
}

.splitScreen {
  display: flex;
  flex-Direction: row;
}

.topPane {
  width: 50%;
}

.bottomPane {
  width: 50%;
}

.bg{
  background-image: './assets/bg.gif';
}

.home{
  background-color: #8C93A8;
  width: 100vw;
  height: 100vh;
}

.button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #555555;
  font-size: 20px;
  padding: 2px 24px;
  border-radius: 8px;
}

.box{
  align-self: center;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 100vw;
}

.blockaideTitle
{
  width:auto;
  height: 415px;
  color:white;
  text-align:center;
  margin-top:100px;
  font: 15rem 'Franklin Gothic Medium', sans-serif;
}

.aboutTextBlock
{
  width:auto;
  height: 275px;
  color:#CCC9C2;
  background-color:#232625;
  padding:100px;
  text-align:left;
  font-size: 2rem;
}

.aboutDescription
{
  margin:1000px;
  background-color:#CCC9C2;
  color:#272A2A;
  padding:100px 100px 100px 100px;
  text-align:left;
  width:auto;
  height: 200px;

}